﻿/* CSS file for default styles that can be overridden in a template */
/* CSS that is hardcoded can be moved here */
.v65-error-list-wrapper {
    padding:10px;
}
.v65-error-list-container { 
    position:relative; 
    background-color:#ffffcc;
	border:2px solid #ffcc00;
    text-align: left;
}
.v65-error-list-image {
    position:absolute;
    left:0;
    width:60px;
    height:100%;
    background-image: url(/a/i/error_alert.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.v65-error-list-text { 
    margin-left:60px; 
    height:100%;
}
.v65-error-list-text ul  
{
    font-weight:600;
    margin:0;
    padding:16px 10px 16px 20px;
}
.v65-error-list-clear { clear:both; }

/*Description container*/
table#product_reviews_description_box {
	background: #f5f5f5;
	border: none;
	border-radius: 0;
	padding: 10px;
}

/*Text color*/
table#product_reviews_description_box, 
table#product_reviews_description_box td {
	color: #666;
	font-size: 13px;
}

/*Review Aggregate*/
.v-reviews__item {
    margin-right: 7px;
}

.v-reviews__avg-rating,
.v-reviews__write-review,
.v-reviews__total-text {
    white-space: nowrap;
}
