
/* Undo some Blueprint CSS stuff */

fieldset { border:none; margin:0; padding:0; }
p img { float:none; margin:0; }

ul, ol {margin:0; list-style:none;}

body { margin:0; background: #8a8a8d url(//content.vexrobotics.com/images/VEX_Robotics_Gray_Webpage.png) bottom center no-repeat; }
body .wrapper { margin-bottom:43px; }
body[class*="categorypath-vexpro"] .wrapper, body[class*="cms-vexpro"] .wrapper { margin-bottom:15px; }
body[class*="categorypath-vexedr"] .wrapper, body[class*="cms-vexedr"] .wrapper { margin-bottom:0px; }

h1, h2, h3, h4, h5, h6 {font-weight:bold;margin-bottom:0.4em;}
h1 { font-size:2em; line-height:1.17; }
h2 { font-size:1.5em; }
h3 { font-size:1.35em; }
h4 { font-size:1.05em; }
h5 { font-size:1.05em; }
h6 { font-size:.95em; }

*,body {font-family:Tahoma, Helvetica, Arial, "Lucida Grande", sans-serif; }

th, td {padding:0; vertical-align:top;}
table {margin-bottom:0;}

body[class*="categorypath-vexiq"] ul#nav, body[class*="cms-vexiq"] ul#nav { font-family:"aktiv-grotesk-std", sans-serif; }

body[class*="categorypath-vexiq"] .form-button span { font-family:"aktiv-grotesk-std", sans-serif;font-weight:900;font-style:normal;}

body[class*="categorypath-vexiq"] .product-collateral h4,
  body[class*="categorypath-vexiq"] .product-shop h5,
  body[class*="categorypath-vexiq"] .product-collateral .attribute-specs,
  body[class*="categorypath-vexiq"] .middle p, body[class*="cms-vexiq"] .middle p,
  body[class*="categorypath-vexiq"] .middle ul li , body[class*="cms-vexiq"] .middle ul li { font-size:1.2em; font-family:"aktiv-grotesk-std", sans-serif;}

body[class*="categorypath-vexiq"] #super-product-table,
  body[class*="categorypath-vexiq"] #upsell-product-table {  font-size:1.1em; font-family:"aktiv-grotesk-std", sans-serif; color:#000; }

body[class*="categorypath-vexiq"] .price-box,
  body[class*="categorypath-vexiq"] .availability,
  body[class*="categorypath-vexiq"] .pager,
  body[class*="categorypath-vexiq"] .view-by,
  body[class*="categorypath-vexiq"] .more-views { font-size:1.1em; font-family:"aktiv-grotesk-std", sans-serif;}

a { color:#d62828; }
a:hover { color:#C7C9CA; }

body[class*="categorypath-vexiq"] a , body[class*="cms-vexiq"] a { color:#0078C8; }
body[class*="categorypath-vexpro"] a , body[class*="cms-vexpro"] a { color:#009639; }
body[class*="categorypath-vexpro"] a:hover , body[class*="cms-vexpro"] a:hover { color:#899ba5; }
body[class*="categorypath-vexpro"] .product-collateral .collateral-box a h4 { color:#009639; }
body[class*="categorypath-vexpro"] .product-collateral .collateral-box a h4:hover { color:#899ba5; }

.shop-access a { color:#696969; font-size:.95em; }
.shop-access a:hover { color:#DFE1E2; font-size:.95em; }
.shop-access { margin-bottom:12px; }

/* GRID & LIST */
.listing-type-grid { background:#fff; }
.listing-type-grid li.item { width:130px; padding: 12px 11px; }
.listing-type-grid .item h5 { white-space:nowrap; text-align:center; margin-top:0.5em; margin-bottom:0; font-size:0.9em;}
.listing-type-grid .item p { margin-bottom:0em; }

.listing-type-list .listing-item { padding:6px 10px; }

.listing-type-grid.grid-6 li.item { width:130px; padding: 12px 14px 12px 18px; }
.listing-type-grid.grid-6 li.item h5 { font-size:.85em; }

.listing-type-list .product-image { float:left; }
.listing-type-list .product-shop { width: 55%; margin-left:15px; min-height:135px; float:left; }
.listing-type-list .buynow-box { width:24%; float:right; min-height:135px; text-align:right;}

.listing-type-list .product-shop .description { clear:both; }
.listing-type-list .product-shop .description ul li { background:url(../images/racksolblkoutarrow_8x8.jpg) left 6px no-repeat; padding-left:12px;}
.listing-type-list .product-shop .description p { margin-top:0.8em; margin-bottom: 1em; }
.listing-type-list .buynow-box .product-sku { text-align:right; clear:both;}
.listing-type-list .buynow-box .ratings { text-align:right; }
.listing-type-list .buynow-box .rating-box { float:right; }
.listing-type-list .buynow-box .ratings a { clear:both; }

.mini-newsletter input.input-text { width:160px; }

.mini-base { margin-bottom:10px; }
.mini-base div.vexbdr-c { padding-left:6px; }
.mini-base div.vexbdr-c.head { padding-left:16px; }
.mini-base .content { background:none; padding-left:6px; }
.mini-base h4 { padding-left:24px; }  

.mini-cart h4 { background: url(../images/icon_basket.gif ) 4px 0 no-repeat; }  
.mini-newsletter h4 { background: url(../images/icon_newspaper.gif) 4px 0 no-repeat; }
.mini-wishlist h4 { background:url(../images/icon_bell.gif) 4px 0 no-repeat; }
.mini-compare-products h4 { background:url(../images/icon_table.gif) 4px 0 no-repeat; }
.mini-poll h4 { background:url(../images/icon_group.gif) 4px 0 no-repeat; }
.mini-product-view h4 { background:url(../images/icon_tag_green.gif) 4px 0 no-repeat; }
.mini-layered-nav h4 { background:url(../images/icon_table.gif) 4px 0 no-repeat; }
.mini-subsystem h4 { background: url(../images/icon_table.gif ) 4px 0 no-repeat; }  
.mini-subsystem .content { padding:0;  } 
.mini-subsystem .content img { margin:0; }

.base-mini .head { background:none; border:none; }
.base-mini { background:none; border:none; margin-bottom:10px; }
.base-mini .actions { background:none; border:none; margin:0; padding:0; text-align:center; }
.base-mini ol li.even, 
.base-mini ol li.odd { background:none; border-bottom:0; background-color:#fff; }

.account-nav .head { background:none; background-color:#C2D3E0; padding:5px;}
.account-nav .head h3 { color:#323233; font-size:1em; }
.account-nav li a:hover { color:#C7C9CA; }
.account-nav li.on { color:#D62828; }

.mini-cart h5 { background:none; border-bottom:1px solid #ccc; margin:0 5px; }
.mini-cart .content { margin-top:0; padding-top:0; }
.mini-cart .subtotal { margin:5px 0; }

#recently-viewed-items li { overflow:hidden; white-space:nowrap; background:url(../images/racksolblkoutarrow_8x8.jpg) left 6px no-repeat; padding-left:12px; }

.centered { text-align:center; }

.ifi-buynow-span6 .regular-price { font-size:1.5em; font-weight:bold; color:#000; }

.ifi-contents li span { font-weight:normal; display:block; float:left; width:30px; margin-right:10px; text-align:right; }
.ifi-spec-list li span { font-weight:normal; display:block; float:left; width:100px; margin-right:10px; text-align:left; }

.header {background:url(//content.vexrobotics.com/images/vex-logo-205-100.png) 0 30px no-repeat;}
.header-top-container { background-color:transparent; }
.header-top { padding-bottom:0px; padding-top:4px; }
.mini-search { width:100%; padding:0; padding-top:1px;}
.mini-search .input-text { width:192px; margin-right:0; margin-top:-11px; border:none; background-color:transparent; font-size:1.5em; text-align:center; color:#666}
#search_mag { padding-right:2px; padding-top:2px; }
#search_mag:hover { cursor:pointer; }
.search-autocomplete li { text-align:left; }
#rs_search_form {  text-align:right; }
#currency_sw { width:153px; }
.quick-access { 
   color:#000;
   margin-top:52px; 
   float:right;
   padding-bottom:0;
   margin-bottom:0;
   padding-left:0;
   padding-right:0;
   width:100%;
   line-height:0.75em; 
}

.search-results li { margin-bottom:25px; margin-right:20px; clear:both; }
.search-results li a { font-size:1.1em; font-weight:bold;}
.search-results li p { margin:0; }
.search-results em { text-decoration:none; color:#0079C2; font-size:0.9em;}
.search-results img { float:left; height:75px; width:75px; padding:10px; }

.checkout_message { margin:5px; padding:5px; text-align:center; border:1px solid #000; background:#ffffc0; font-size:12px; line-height:1.25; color:#2f2f2f; }

.site-message { border:1px solid #000; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f; }
.site-message .site-message-inner { width:950px; margin:0 auto; padding:4px 0 4px; }
.site-message p { margin:0; }


#logobg { }
.header-nav { background-color: transparent; }
.header-nav-container { background-color:transparent; margin-top:0px; padding-top:0; }

.canada_header { background:url(../images/header/canada_ship_303x53.jpg) no-repeat 131px 1px; }

.product-sku { color:#323233; font-size:.95em; font-weight:normal;  }

.more-views h4 { color:#818487; }
.product-img-box .more-views li a { margin-left:1px; width:70px; height:70px; }

#super-product-table {margin-top:10px; }
#upsell-product-table {margin-bottom:2em; }

.price-box .price, .price { color:#d62828; }

.minimal-price-link { display:block; }
.minimal-price-link .label { font-weight:normal; color:#d62828; font-style:italic; }
.minimal-price-link .price { font-weight:normal; color:#d62828; font-style:italic; }

.category-head { clear:left; }

.browse-by { clear:both; }
.narrow-by { 
   width:100%; 
   background:none;
}
.narrow-by dl {
    background:none;
    padding-bottom:0;
    margin-bottom:0;
}
#narrow-by-list div { 
   width:25%; 
   float:left; 
   min-height:100px; 
   padding: 0 0 .8em 0; 
   margin:0; 
   background:#e7f1f4;
}
#narrow-by-list div b { 
   margin:0;
   padding:7px 10px 0 28px;
   background:url(../images/narrow_by_set.gif) no-repeat 9px .9em;
   color:#2f2f2f;
   text-transform:uppercase;
}
#narrow-by-list div ol { margin-left:15px; }
#narrow-by-list div.last { float:right; }

.narrowed-category { float:left; }
.layered-nav .narrowed-category li { float:left; background:none; }

/* NAVIGATION */
#nav { border:none; padding-left:12px; background-color:#8a8a8d;}
#nav li.active a { color:#d3222a; /* text-shadow: 1px 1px 0 rgba(230,231,232,.80); */ }
#nav ul { margin-left:0; }
#nav li.over > ul { left:0; top:19px }
#nav li.over > ul li.over > ul { left:60px;  }
#nav a { padding:2px 16px 4px 0px; color:#e6e7e8; font-size:0.9em;}
#nav ul a { text-transform:none; }
#nav li.over a,
#nav a:hover { color:#d3222a; }

#nav ul li a { background:#e6e7e8; }
#nav ul li a span { color:#d3222a; }

#nav ul li.nav-vex-products-hexbug span,
#nav ul li.nav-vex-classroom-student-resources a span,
#nav ul li.nav-vex-classroom-teacher-resources a span,
#nav ul li.nav-vex-competition-find-a-vex-event a span,
#nav ul li.nav-vex-competition-team-resources a span,
#nav ul li.nav-vex-competition-event-organizer-resources a span,
#nav ul li.nav-vex-competition-photo-gallery a span,
#nav ul li.nav-vex-design-design-resources a span,
#nav ul li.nav-vex-competition-competition-resources a span,
#nav ul li.nav-vex-design-vex-staff-robots span,
#nav ul li.nav-vex-design-vex-cad span,
#nav ul li.nav-vex-design-photo-gallery span,
#nav ul li.nav-vex-support-vexforum-com span,
#nav ul li.nav-vex-support-ask-the-experts span,
#nav ul li.nav-vex-support-faq span,
#nav ul li.nav-vex-support-documentation span,
#nav ul li.nav-vex-support-downloads span
    { color:#000; }

#nav ul li a:hover { color:#e6e7e8; background:#6d6e71; }
#nav ul li a:hover { color:#e6e7e8 !important; }
/* ********** */

.nav-frc { display:none; }
.nav-indybot { display:none; }
.nav-pltwgrants { display:none; }
.nav-vex ul { display:none; }
.nav-vexpro ul { display:none; }
.nav-vexiq ul { display:none; }

.nav-vexpro-new-for-2016 { display:none; }

body[class*="categorypath-vexedr"] .header { background:url(//content.vexrobotics.com/images/vexedr/VEX_EDR_Horizontal.png) 0 30px no-repeat; }
body[class*="categorypath-vexedr"] { background:#d62828 url(//content.vexrobotics.com/images/vexedr/VexEDR_Red_1.png) bottom center no-repeat; padding-bottom:44px; }
body[class*="categorypath-vexedr"] .canada_header { background:url(../images/header/canada_ship_303x53.jpg) no-repeat 186px 1px; }

body[class*="categorypath-vexpro"] .header { background:url(//content.vexrobotics.com/images/vexpro/VEXpro_Horizon_Logo_2.png) 0 30px no-repeat; }
body[class*="categorypath-vexpro"] .canada_header { background:url(//content.vexrobotics.com/images/header/vexpro_canada.jpg) no-repeat 275px 16px; }
body[class*="categorypath-vexpro"] { background:#009639 url(//content.vexrobotics.com/images/vexpro/green_background_u_thin_tall.png) bottom center no-repeat;  }

body[class*="categorypath-vexiq"] .header,
  body[class*="cms-vexiq"] .header { background:url(//content.vexrobotics.com/images/vexiq/VEX_IQ_Horizontal.png) 0 30px no-repeat; }
body[class*="categorypath-vexiq"] .canada_header 
  body[class*="cms-vexiq"] .canada_header{ background:url(../images/header/canada_ship_303x53.jpg) no-repeat 274px 27px; }
body[class*="categorypath-vexiq"],
  body[class*="cms-vexiq"]{ background:#0078C8 url(//content.vexrobotics.com/images/vexiq/VexIQ_Blue_Webpage_Rev4.png) bottom center no-repeat;  }

body[class*="categorypath-vexpro"] #nav li.active a { color:#000; }
body[class*="categorypath-vexpro"] #nav a:hover { color:#000; }
body[class*="categorypath-vexpro"] #nav ul li a span { color:#009639; }
body[class*="categorypath-vexpro"] #nav ul li a span:hover { color:#fff; }

body[class*="cms-vexiq"] #nav li.active a { color:#000; }
body[class*="cms-vexiq"] #nav a:hover { color:#000; }

body[class*="categorypath-vexiq"] #nav li a span,
  body[class*="cms-vexiq"] #nav li a span { padding:3px 9px; margin-top:-2px; }

body[class*="categorypath-vexiq"] #nav li.active a,
  body[class*="cms-vexiq"] #nav li.active a { color:#fff; }

body[class*="categorypath-vexedr"] #nav li.active a,
  body[class*="cms-vexedr"] #nav li.active a { color:#fff; }

body[class*="categorypath-vexiq"] #nav a:hover,
  body[class*="cms-vexiq"] #nav a:hover { color:#fff; }

body[class*="categorypath-vexedr"] #nav a:hover,
  body[class*="cms-vexedr"] #nav a:hover { color:#fff; }

body[class*="categorypath-vexiq"] #nav ul li a span,
  body[class*="cms-vexiq"] #nav ul li a span { color:#0078C8; }

body[class*="categorypath-vexiq"] #nav li.over a, 
  body[class*="cms-vexiq"] #nav li.over a, 
  body[class*="categorypath-vexiq"] #nav a:hover,
  body[class*="cms-vexiq"] #nav a:hover { color:#fff; }

body[class*="categorypath-vexpro"] #nav li.over a, 
  body[class*="cms-vexpro"] #nav li.over a, 
  body[class*="categorypath-vexpro"] #nav a:hover,
  body[class*="cms-vexpro"] #nav a:hover { color:#000; }

body[class*="categorypath-vexedr"] #nav li.over a, 
  body[class*="cms-vexedr"] #nav li.over a, 
  body[class*="categorypath-vexedr"] #nav a:hover,
  body[class*="cms-vexedr"] #nav a:hover { color:#fff; }

body[class*="categorypath-vexiq"] #nav a:hover span,
  body[class*="cms-vexiq"] #nav a:hover span { background-color:#0078C8; color:#fff; padding:3px 9px; margin-top:-2px; }

body[class*="categorypath-vexiq"] #nav li.level1 a span,
  body[class*="cms-vexiq"] #nav li.level1 a span { width:91%; }

body[class*="categorypath-vexpro"] ul#nav { background-color:#009639; }
body[class*="categorypath-vexedr"] ul#nav { background-color:#d62828; }

body[class*="categorypath-vexiq"] ul#nav,
  body[class*="cms-vexiq"] ul#nav { background-color:#0078C8; height:21px;}

body[class*="categorypath-vexpro"] #nav li.over a, 
  body[class*="categorypath-vexpro"] #nav a:hover,
  { color:#000; }

body[class*="categorypath-vexedr"] #nav li.over a, 
  body[class*="categorypath-vexedr"] #nav a:hover,
  { color:#000; }

body[class*="categorypath-vexpro"] #main { margin-bottom:32px; }

body[class*="categorypath-vexiq"] .wrapper { margin-bottom:43px; }
body[class*="categorypath-vexiq"] .view-by { margin-bottom:3px; }

body[class*="categorypath-vexiq"] #main,
  body[class*="cms-vexiq"] #main { margin-bottom:60px; }

body[class*="categorypath-vexpro"] .informational, 
  body[class*="categorypath-vexpro"] .footer { background-color:#009639; }

body[class*="categorypath-vexedr"] .informational, 
  body[class*="categorypath-vexedr"] .footer { background-color:#d62828; color:white; }

body[class*="categorypath-vexiq"] .informational, 
  body[class*="categorypath-vexiq"] .footer,
  body[class*="cms-vexiq"] .informational, 
  body[class*="cms-vexiq"] .footer { background-color:#0078C8; }

body[class*="categorypath-vexiq"] .informational a, 
  body[class*="categorypath-vexiq"] .footer a { color:black; }
body[class*="categorypath-vexpro"] .informational a, 
  body[class*="categorypath-vexpro"] .footer a { color:black; }
body[class*="categorypath-vexedr"] .informational a, 
  body[class*="categorypath-vexedr"] .footer a { color:black; }

body[class*="categorypath-vexedr"] .informational a:hover, 
  body[class*="categorypath-vexedr"] .footer a:hover { color:white; }
body[class*="categorypath-vexpro"] .informational a:hover, 
  body[class*="categorypath-vexpro"] .footer a:hover { color:white; }
body[class*="categorypath-vexiq"] .informational a:hover, 
  body[class*="categorypath-vexiq"] .footer a:hover { color:white; }

body[class*="categorypath-vexpro"] #ifi_logo_footer,
  body[class*="categorypath-vexedr"] #ifi_logo_footer,
  body[class*="categorypath-vexiq"] #ifi_logo_footer,
  body[class*="cms-vexedr"] #ifi_logo_footer,
  body[class*="cms-vexiq"] #ifi_logo_footer,
  body #ifi_logo_footer {
    height:0; width:0; padding:29px 76px;
    background:url(//content.vexrobotics.com/images/vexpro/IFI_S_INTfull_White.png) no-repeat
}


/* FRONT PAGE */ 
#front-news { padding:5px 0; margin:5px 0 10px 0; background-color:#c0c0c0;  }
.front-block {margin-bottom:10px; height:146px; margin-top:10px;}
/* ********** */

/* FOOTER */
.footer { background-color:#8a8a8d; padding-top:0px; }
.footer .informational a, .footer .legality a { color:white; }
.footer .informational a:hover, .footer .legality a:hover { color:#d62828; }
.informational { font-size:0.85em; color:black; background-color:#8a8a8d; }
/* ****** */

.layered-nav { margin-bottom:10px; background:none;}
.layered-nav .border-creator { border:none; }
.layered-nav .head {
    margin:0;
    background:none;
    height:24px;
    }
.layered-nav h3 { display:block; }

.head h4 { color:#323233; }
.base-mini .head h4 { color:#323233; }
.login-box h4 { color:#323233; }
.shopping-cart-collaterals .discount-codes h4 { color:#323233; }
.shopping-cart-collaterals .shipping-estimate h4 { color:#323233; }

.shopping-cart-totals { border:none; background:transparent; }
#shopping-cart-table.data-table th { background:#e6e7e8; }
#shopping-cart-table.data-table tfoot tr { background:#e6e7e8; }
#shopping-cart-table.data-table tfoot tr td { background:#e6e7e8; }

.one-page-checkout .head h3 { color:#323233; }
.one-page-checkout .allow .step-count { background:#818487; }
.one-page-checkout .active .step-count { color:#fff; border:1px solid #818487; background:#d62828; }

.product-info-box h1.product-name {font-size:1.75em; font-weight:bold; color:#1B1818; margin-bottom:1px;}
.short-description { color:#818487; }
.short-description h2 { font-size:1.35em; font-weight:normal; color:#323233; margin-bottom:0px; margin-top:15px; }
.short-description h3 { font-size:1em; font-weight:bold; color:#0a263c; margin-bottom:2px; margin-top:15px; text-decoration:underline;}
.short-description > h2:first-child { margin-top:0px; }
.short-description ul li { background:url(../images/racksolblkoutarrow_8x8.jpg) left 6px no-repeat; padding-left:12px;}
.short-description p { margin-top:1em; margin-bottom:1em; }
.product-essential { color:#818487; padding:10px; background:#fff;}
.product-essential .product-shop { width:380px; }
.product-collateral { padding:10px; background:#fff; }
.product-collateral .head { color:#818487; margin-bottom:1em; border-bottom:2px solid #C7C9CA; padding-bottom:px; font-size:1.15em; }
.product-collateral .head h4 { color:#818487; margin-top:2em;}


body[class*="categorypath-vexiq"] .short-description { color:#000; }
body[class*="categorypath-vexiq"] .product-essential .product-shop { width:500px; }

.product-img-box { float:right; width:330px; text-align:center;}
.product-img-box p.product-image { height:296px; width:330px; text-align:center; margin-bottom:0; margin-top:0; }
.product-shop { float:left; }

body[class*="categorypath-vexiq"] .product-img-box { width:430px; }
body[class*="categorypath-vexiq"] .product-img-box  p.product-image { height:400px; width:430px; }

.product-specs h3 { margin-bottom:5px; margin-top:10px; }
.product-specs p { color:#000; margin:5px 0; }
.product-specs ul li { background:url(../images/racksolblkoutarrow_8x8.jpg) left 6px no-repeat; padding-left:12px;}

.product-collateral .attribute-specs .label { color:#323233; }
.product-collateral .attribute-specs .data { color:#323233; }
.product-collateral .attribute-specs .data ol { list-style:decimal; margin-left:18px;}

.attributes-col .item-options .price  { display:none; }

.product-img-box .product-image-zoom img { cursor:pointer; }

.product-options { 
   padding-top:0px; 
   padding-bottom:0px; 
   background-color:#DFE1E2;
   border:2px solid #C7C9CA;
   border-bottom:none;
}
.product-options-bottom {
   background-color:#DFE1E2;
   border:2px solid #C7C9CA;
}

ul.ifi-checklist li { background:url(../images/check-unchecked.gif) 1px 3px no-repeat; padding-left:16px;}
ul.ifi-checklist li.checked { background:url(../images/check-checked.gif) 0 -5px no-repeat; padding-left:16px;}

.bundle-selection-sku { color:#999; }

#product-options-wrapper dt { padding-top:8px; border-top: 2px solid #C7C9CA; }
#product-options-wrapper dl > dt:first-child { padding-top:8px; border-top:none; }

.product-options .options-list .checkbox-wrapper { float:left; margin:3px 6px 0 0; }
.product-options .options-list .checkbox-wrapper + .label { padding-top: 4px }
.product-options .options-list .checkbox-wrapper input { width:25px; }

.gallery-button { line-height:30px; height:35px; width:35px; text-decoration:none; display:block; float:left; }
.gallery-button span { display:none; }

a.gallery-next { background:url(../images/gallerynav/vexarrowneutr_26x30.jpg) no-repeat center left; }
a:hover.gallery-next { background:url(../images/gallerynav/vexarrowmor_26x30.jpg) no-repeat center left; }

a.gallery-prev { background:url(../images/gallerynav/vexarrowneutl_26x30.jpg) no-repeat center right; }
a:hover.gallery-prev { background:url(../images/gallerynav/vexarrowmol_26x30.jpg) no-repeat center right; }

a.gallery-close { background:url(../images/gallerynav/vexclose_30x35.jpg) no-repeat center center; }
a:hover.gallery-close { background:url(../images/gallerynav/vexclose_30x35.jpg) no-repeat center center; }

p.product-image-zoom { margin-bottom:1px; }
#media-caption { text-align:right; font-size:0.85em; padding-right:5px; margin-bottom:3px; }

.shipping_additional_info { width:300px; float:right; text-align:center; }
.shipping_additional_info img { margin:0 auto; }
.shipping_additional_info em { clear:both; text-align:center; margin:0 auto; }
.shipping_additional_info p { text-align:justify; margin-top:20px; }

.form-button, .form-button-alt { background:#d62828; border:1px solid #C7C9CA; }
body[class*="categorypath-vexiq"] .form-button, body[class*="categorypath-vexiq"] .form-button-alt { background:#0078C8; }

.shipcutoff { line-height:1em;font-size:12px; }

.informational { }

.availability { margin:2px; }
.availability.instock { font-weight:bold; color:#777772; padding-left:18px; background:url(../images/stock_in.png) no-repeat left center;}
.availability.outstock { font-weight:bold; color:#d83820; padding-left:18px; background:url(../images/stock_out.png) no-repeat left center;}
.availability.outstock.outstock5599 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.availability.outstock.outstock5593 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.availability.outstock.outstock5587 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.availability.outstock.outstock5590 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.availability.outstock.outstock5771 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.availability.outstock.outstock5769 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.availability.outstock.outstock5770 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.availability.outstock.outstock5767 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.availability.outstock.outstock5596 {  background:url(../images/stock_discontinued.png) no-repeat left center;}
.availability.instock.instock5773 { color:#d83820; background:url(../images/stock_in.png) no-repeat left top; }
.availability.instock.instock5773 em { color:#777772; font-style:normal; }

.product-info-box .availability { margin:2px; }
.product-info-box .availability.instock { font-weight:bold; color:#777772; padding-left:18px; background:url(../images/stock_in.png) no-repeat left center;}
.product-info-box .availability.outstock { font-weight:bold; color:#d83820; padding-left:18px; background:url(../images/stock_out.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5599 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5593 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5587 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5590 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5771 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5769 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5770 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5767 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.product-info-box .availability.outstock.outstock5596 {  background:url(../images/stock_discontinued.png) no-repeat left center;}
.product-info-box .availability.instock.instock5773 { color:#d83820; background:url(../images/stock_in.png) no-repeat left top; }
.product-info-box .availability.instock.instock5773 em { color:#777772; font-style:normal; }

.listing-type-list .availability { margin:2px; }
.listing-type-list .availability.instock { font-weight:bold; color:#777772; padding-right:18px; background:url(../images/stock_in.png) no-repeat right center;}
.listing-type-list .availability.outstock { font-weight:bold; color:#d83820; padding-right:18px; background:url(../images/stock_out.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5599 { color:#777772; background:url(../images/stock_phone.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5593 { color:#777772; background:url(../images/stock_phone.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5587 { color:#777772; background:url(../images/stock_phone.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5590 { color:#777772; background:url(../images/stock_soon.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5771 { color:#777772; background:url(../images/stock_soon.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5769 { color:#777772; background:url(../images/stock_soon.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5770 { color:#777772; background:url(../images/stock_soon.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5767 { color:#777772; background:url(../images/stock_soon.png) no-repeat right center;}
.listing-type-list .availability.outstock.outstock5596 {  background:url(../images/stock_discontinued.png) no-repeat right center;}
.listing-type-list .availability.instock.instock5773 { color:#d83820; background:url(../images/stock_in.png) no-repeat right top; }
.listing-type-list .availability.instock.instock5773 em { color:#777772; font-style:normal; }

.listing-type-grid .availability { margin:2px; }
.listing-type-grid .availability.instock { font-weight:bold; color:#777772; padding-left:18px; background:url(../images/stock_in.png) no-repeat left center;}
.listing-type-grid .availability.outstock { font-weight:bold; color:#d83820; padding-left:18px; background:url(../images/stock_out.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5599 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5593 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5587 { color:#777772; background:url(../images/stock_phone.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5590 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5771 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5769 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5770 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5767 { color:#777772; background:url(../images/stock_soon.png) no-repeat left center;}
.listing-type-grid .availability.outstock.outstock5596 {  background:url(../images/stock_discontinued.png) no-repeat left center;}
.listing-type-grid .availability.instock.instock5773 { color:#d83820; background:url(../images/stock_in.png) no-repeat left center; }
.listing-type-grid .availability.instock.instock5773 em { color:#777772; font-style:normal; }

.vexbdr   { background:url(../images/borders/vexborder973x1920.jpg) bottom left no-repeat; }
.vexbdr-c { padding-left:14px; padding-bottom:9px; margin-right:10px; width:100%; }

ul.list li { background:url(../images/racksolblkoutarrow_8x8.jpg) left 6px no-repeat; padding-left:12px;}

.login-box .content {
    min-height:250px;
}

.product-pricing-grouped li {color:#818487;}

.shipcutoff span.hours { font-weight:bold; color:#d83820; }
.shipcutoff span.minutes { font-weight:bold; color:#d83820; }
.shipcutoff span.day { font-weight:bold; color:#d83820; }

#checkout_shipping_ups_helper { background-color:#ffffc0; padding:5px; margin:5px; margin-top:10px; width:40%; border:1px solid #c0c0c0; }



.iq-theme { margin-top:10px; margin-bottom:10px;}
.iq-theme .nivo-controlNav {
    position:absolute;
    left:50%;
    margin-top:-8px;
    margin-left:-159px; /* Tweak this to center bullets */
}
.iq-theme .nivo-controlNav a {
    display: block;
    width: 10px;
    height: 10px;
    background: url(//content.vexrobotics.com/images/vexiq/Bullets.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    margin-right: 7px;
    float: left;
}
.iq-theme .nivo-controlNav a.active {
    background-position:0 -10px;
}

.edr-theme { margin-top:10px; margin-bottom:25px;}
.edr-theme .nivo-controlNav {
    position:absolute;
    left:50%;
    margin-top:-8px;
    margin-left:-16px; /* Tweak this to center bullets */
}
.edr-theme .nivo-controlNav a {
    display: block;
    width: 10px;
    height: 10px;
    background: url(//content.vexrobotics.com/images/vexedr/Bullets.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    margin-right: 7px;
    float: left;
}
.edr-theme .nivo-controlNav a.active {
    background-position:0 -10px;
}

.pro-theme { margin-bottom:12px; }
.pro-theme .nivo-controlNav {
    position:absolute;
    left:50%;
    margin-top:-5px;
    margin-left:-14px; /* Tweak this to center bullets */
}
.pro-theme .nivo-controlNav a {
    display: block;
    width: 10px;
    height: 10px;
    background: url(//content.vexrobotics.com/images/vexpro/bullets_flat.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    margin-right: 7px;
    float: left;
}
.pro-theme .nivo-controlNav a.active {
    background-position:0 -10px;
    }


div.vexTabs.ui-tabs.ui-tabs-nav ul li a {
    font-size:0.5em;
}

div.vexTabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor  {
    padding:.1em 1em;
}
.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a {
    background: #f1f0ee url("images/ui-bg_flat_75_f1f0ee_40x100.png") 50% 50% repeat-x;
    border-bottom: 1px solid #f1f0ee;
}
.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    padding:0;
}
.ui-state-default.ui-corner-top a {
    background: #b8b8b8 url("images/ui-bg_flat_75_f1f0ee_40x100.png") 50% 50% repeat-x;
}

div.vexTabs { background:transparent; border:none; }
div.vexTabs div.ui-tabs-panel { background-color:#f1f0ee; margin-top:-1px; border:1px solid #aaa;}
div.vexTabs ul.ui-tabs-nav.ui-widget-header { background:transparent; border:none; }

.thegap { height:30px; }
.thegap { background:url(//content.vexrobotics.com/images/header/VEX_Robotics_Navi_Bar_4.png) no-repeat; }

body[class*="categorypath-vex"] .thegap, body[class*="cms-vex"] .thegap { background:url(//content.vexrobotics.com/images/header/VEX_EDR_Navi_Bar_4.png) no-repeat; }
body[class*="categorypath-vexiq"] .thegap, body[class*="cms-vexiq"] .thegap { background:url(//content.vexrobotics.com/images/header/VEX_IQ_Navi_Bar_4.png) no-repeat; }
body[class*="categorypath-vexpro"] .thegap, body[class*="cms-vexpro"] .thegap { background:url(//content.vexrobotics.com/images/header/VEX_Pro_Navi_Bar_4.png) no-repeat; }

.gap_button a { height:25px; width:112px; margin-right:1px; display:block; float:left; }
.gap_button a span { display:none; }

.mini-search { position: inherit; }

#social_buttons { margin-left:54px; }
.soc_button a { height:25px; width:39px; margin-right:2px; display:block; float:left;}
.soc_button a span { display:none; }

body[class*="categorypath-vexiq"] ul#nav li.level1.parent ul.level1,
body[class*="cms-vexiq"] ul#nav li.level1.parent ul.level1 { display:none; }

body ul#nav li.level1.nav-vex-competition-competition-history.parent ul.level1 { display:none; }
ul#nav li.level1.parent ul.level1 { display:none; }
