/* -----------------------------------------------------------------------

   Blueprint CSS Framework 0.7.1
   http://blueprintcss.googlecode.com

   * Copyright (c) 2007-2008. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.ifi-left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.ifi-right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre, code {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;background:#C3D9FF;}
th, td {padding:4px 10px 4px 5px;}
tr.ifi-even td {background:#E5ECF9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.ifi-small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.ifi-large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.ifi-hide {display:none;}
.ifi-quiet {color:#666;}
.ifi-loud {color:#000;}
.ifi-highlight {background:#ff0;}
.ifi-added {background:#060;color:#fff;}
.ifi-removed {background:#900;color:#fff;}
.ifi-first {margin-left:0;padding-left:0;}
.ifi-last {margin-right:0;padding-right:0;}
.ifi-top {margin-top:0;padding-top:0;}
.ifi-bottom {margin-bottom:0;padding-bottom:0;}

/* grid.css */
.ifi-container {width:973px;margin:0 auto;}
.ifi-showgrid {background:url(src/grid.png);}
body {margin:1.5em 0;}
div.ifi-span-1, div.ifi-span-2, div.ifi-span-3, div.ifi-span-4, div.ifi-span-5, div.ifi-span-6, div.ifi-span-7, div.ifi-span-8, div.ifi-span-9, div.ifi-span-10, div.ifi-span-11, div.ifi-span-12, div.ifi-span-13, div.ifi-span-14, div.ifi-span-15, div.ifi-span-16, div.ifi-span-17, div.ifi-span-18, div.ifi-span-19, div.ifi-span-20, div.ifi-span-21, div.ifi-span-22, div.ifi-span-23, div.ifi-span-24 {float:left;margin-right:11px;}
div.ifi-last {margin-right:0;}
.ifi-span-1 {width:30px;}
.ifi-span-2 {width:71px;}
.ifi-span-3 {width:112px;}
.ifi-span-4 {width:153px;}
.ifi-span-5 {width:194px;}
.ifi-span-6 {width:235px;}
.ifi-span-7 {width:276px;}
.ifi-span-8 {width:317px;}
.ifi-span-9 {width:358px;}
.ifi-span-10 {width:399px;}
.ifi-span-11 {width:440px;}
.ifi-span-12 {width:481px;}
.ifi-span-13 {width:522px;}
.ifi-span-14 {width:563px;}
.ifi-span-15 {width:604px;}
.ifi-span-16 {width:645px;}
.ifi-span-17 {width:686px;}
.ifi-span-18 {width:727px;}
.ifi-span-19 {width:768px;}
.ifi-span-20 {width:809px;}
.ifi-span-21 {width:850px;}
.ifi-span-22 {width:891px;}
.ifi-span-23 {width:932px;}
.ifi-span-24, div.ifi-span-24 {width:973px;margin:0;}
.ifi-append-1 {padding-right:41px;}
.ifi-append-2 {padding-right:82px;}
.ifi-append-3 {padding-right:123px;}
.ifi-append-4 {padding-right:164px;}
.ifi-append-5 {padding-right:205px;}
.ifi-append-6 {padding-right:246px;}
.ifi-append-7 {padding-right:287px;}
.ifi-append-8 {padding-right:328px;}
.ifi-append-9 {padding-right:369px;}
.ifi-append-10 {padding-right:410px;}
.ifi-append-11 {padding-right:451px;}
.ifi-append-12 {padding-right:492px;}
.ifi-append-13 {padding-right:533px;}
.ifi-append-14 {padding-right:574px;}
.ifi-append-15 {padding-right:615px;}
.ifi-append-16 {padding-right:656px;}
.ifi-append-17 {padding-right:697px;}
.ifi-append-18 {padding-right:738px;}
.ifi-append-19 {padding-right:779px;}
.ifi-append-20 {padding-right:820px;}
.ifi-append-21 {padding-right:861px;}
.ifi-append-22 {padding-right:902px;}
.ifi-append-23 {padding-right:943px;}
.ifi-prepend-1 {padding-left:41px;}
.ifi-prepend-2 {padding-left:82px;}
.ifi-prepend-3 {padding-left:123px;}
.ifi-prepend-4 {padding-left:164px;}
.ifi-prepend-5 {padding-left:205px;}
.ifi-prepend-6 {padding-left:246px;}
.ifi-prepend-7 {padding-left:287px;}
.ifi-prepend-8 {padding-left:328px;}
.ifi-prepend-9 {padding-left:369px;}
.ifi-prepend-10 {padding-left:410px;}
.ifi-prepend-11 {padding-left:451px;}
.ifi-prepend-12 {padding-left:492px;}
.ifi-prepend-13 {padding-left:533px;}
.ifi-prepend-14 {padding-left:574px;}
.ifi-prepend-15 {padding-left:615px;}
.ifi-prepend-16 {padding-left:656px;}
.ifi-prepend-17 {padding-left:697px;}
.ifi-prepend-18 {padding-left:738px;}
.ifi-prepend-19 {padding-left:779px;}
.ifi-prepend-20 {padding-left:820px;}
.ifi-prepend-21 {padding-left:861px;}
.ifi-prepend-22 {padding-left:902px;}
.ifi-prepend-23 {padding-left:943px;}
div.ifi-border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.ifi-colborder {padding-right:23px;margin-right:24px;border-right:1px solid #eee;}
.ifi-pull-1 {margin-left:-41px;}
.ifi-pull-2 {margin-left:-82px;}
.ifi-pull-3 {margin-left:-123px;}
.ifi-pull-4 {margin-left:-164px;}
.ifi-pull-5 {margin-left:-205px;}
.ifi-pull-6 {margin-left:-246px;}
.ifi-pull-7 {margin-left:-287px;}
.ifi-pull-8 {margin-left:-328px;}
.ifi-pull-9 {margin-left:-369px;}
.ifi-pull-10 {margin-left:-410px;}
.ifi-pull-11 {margin-left:-451px;}
.ifi-pull-12 {margin-left:-492px;}
.ifi-pull-13 {margin-left:-533px;}
.ifi-pull-14 {margin-left:-574px;}
.ifi-pull-15 {margin-left:-615px;}
.ifi-pull-16 {margin-left:-656px;}
.ifi-pull-17 {margin-left:-697px;}
.ifi-pull-18 {margin-left:-738px;}
.ifi-pull-19 {margin-left:-779px;}
.ifi-pull-20 {margin-left:-820px;}
.ifi-pull-21 {margin-left:-861px;}
.ifi-pull-22 {margin-left:-902px;}
.ifi-pull-23 {margin-left:-943px;}
.ifi-pull-24 {margin-left:-984px;}
.ifi-pull-1, .ifi-pull-2, .ifi-pull-3, .ifi-pull-4, .ifi-pull-5, .ifi-pull-6, .ifi-pull-7, .ifi-pull-8, .ifi-pull-9, .ifi-pull-10, .ifi-pull-11, .ifi-pull-12, .ifi-pull-13, .ifi-pull-14, .ifi-pull-15, .ifi-pull-16, .ifi-pull-17, .ifi-pull-18, .ifi-pull-19, .ifi-pull-20, .ifi-pull-21, .ifi-pull-22, .ifi-pull-23, .ifi-pull-24 {float:left;position:relative;}
.ifi-push-1 {margin:0 -41px 1.5em 41px;}
.ifi-push-2 {margin:0 -82px 1.5em 82px;}
.ifi-push-3 {margin:0 -123px 1.5em 123px;}
.ifi-push-4 {margin:0 -164px 1.5em 164px;}
.ifi-push-5 {margin:0 -205px 1.5em 205px;}
.ifi-push-6 {margin:0 -246px 1.5em 246px;}
.ifi-push-7 {margin:0 -287px 1.5em 287px;}
.ifi-push-8 {margin:0 -328px 1.5em 328px;}
.ifi-push-9 {margin:0 -369px 1.5em 369px;}
.ifi-push-10 {margin:0 -410px 1.5em 410px;}
.ifi-push-11 {margin:0 -451px 1.5em 451px;}
.ifi-push-12 {margin:0 -492px 1.5em 492px;}
.ifi-push-13 {margin:0 -533px 1.5em 533px;}
.ifi-push-14 {margin:0 -574px 1.5em 574px;}
.ifi-push-15 {margin:0 -615px 1.5em 615px;}
.ifi-push-16 {margin:0 -656px 1.5em 656px;}
.ifi-push-17 {margin:0 -697px 1.5em 697px;}
.ifi-push-18 {margin:0 -738px 1.5em 738px;}
.ifi-push-19 {margin:0 -779px 1.5em 779px;}
.ifi-push-20 {margin:0 -820px 1.5em 820px;}
.ifi-push-21 {margin:0 -861px 1.5em 861px;}
.ifi-push-22 {margin:0 -902px 1.5em 902px;}
.ifi-push-23 {margin:0 -943px 1.5em 943px;}
.ifi-push-24 {margin:0 -984px 1.5em 984px;}
.ifi-push-1, .ifi-push-2, .ifi-push-3, .ifi-push-4, .ifi-push-5, .ifi-push-6, .ifi-push-7, .ifi-push-8, .ifi-push-9, .ifi-push-10, .ifi-push-11, .ifi-push-12, .ifi-push-13, .ifi-push-14, .ifi-push-15, .ifi-push-16, .ifi-push-17, .ifi-push-18, .ifi-push-19, .ifi-push-20, .ifi-push-21, .ifi-push-22, .ifi-push-23, .ifi-push-24 {float:right;position:relative;}
.ifi-box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.ifi-space {background:#fff;color:#fff;}
.ifi-clearfix:after, .ifi-container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.ifi-clearfix, .ifi-container {display:inline-block;}
* html .ifi-clearfix, * html .ifi-container {height:1%;}
.ifi-clearfix, .ifi-container {display:block;}
.ifi-clear {clear:both;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input.ifi-text, input.ifi-title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.ifi-text:focus, input.ifi-title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.ifi-text, input.ifi-title {width:300px;padding:5px;}
input.ifi-title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
.ifi-error, .ifi-notice, .ifi-success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.ifi-error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.ifi-notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.ifi-success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.ifi-error a {color:#8a1f11;}
.ifi-notice a {color:#514721;}
.ifi-success a {color:#264409;}
