/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/* MAGENTO OVERRIDES */

.wrapper { width:973px; margin:0 auto; }
.header-top { width:973px; margin:0 auto; padding:10px 0; }
.header-nav { width:973px; }
body { background:none; }

.header { border-top:none; }
.header-top-container { border-bottom:none; background:none;  }
.header-nav-container { background:none; }
.middle-container { background:none; }
.middle { padding:0; background:none; }

.mini-search { padding: 0; background:none; }

.footer { width:973px; background:none; background-color:#e5e5e5; padding:0; }

.footer .legality { padding:0; }

.side-col { width:100%; }

.toplinks ul {
    display:inline;
    margin-left:0;
}
.toplinks li {
    display:inline;
    background:url(../images/footer_info_separator.gif) no-repeat 100% 50%;
    padding-right:8px;
    padding-left:4px;
}
.toplinks li.last { background:none; padding-right:0; }

#nav { padding-left:0; }
#nav { border: 1px solid #f5f5f5; margin-bottom:10px;}
