.nxt-ac-main {z-index:99999 !important;}

.nxt-ac-main .nxt-ac-header {color: #FFFFFF;
background: #003399 !important;}

.nxt-ac-main .nxt-ac-selected .nxt-item-txt {color:#000000;}
.nxt-ac-main .nxt-ac-selected {background: #aebdc8;}